.card {
  width: 150px;
  height: 100px;
  background-color: #ffdaaa;
  border: 2px solid #c97;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-family: sans-serif;
}


.card-row {
  display: flex; 
  flex-direction: row; 
}


.card-column {
  display: flex;
  flex-direction: column; 
}
