.container {
  display: flex; 
  background-color: #f0f0f0;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.item {
  background-color: #add8e6;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  width: 50px;
}


.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}


.space-evenly {
  justify-content: space-evenly;
}
