@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(224, 207, 207);
    height: 100vh;
    width: 180vh;
    margin: 0;
}


.card {
    display: flex;           
    flex-direction: row;       
    width: 700px;              
    background: white;
    overflow: hidden;
    border-radius: 10px;       
}


.card img {
    width: 50%;               
    height: auto;
    object-fit: cover;
    border-radius: 0;
}


.text-box{
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}


.description {
    text-align: left;          
    font-size: 14px;
    color: gray;
}

.main.text {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
}

.price {
  display: flex;              
  align-items: center;
}

.new-price {
 color: hsl(158, 36%, 37%);
  font-weight: bold;
  font-size: 30px;
  margin-right: 40px;    
  font-family: Fraunces;     
}

.old-price {
  color: gray;
  text-decoration: line-through;
  font-size: 16px;
}


button {
    padding: 10px 0;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 7px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    transition: 0.3s;

    cursor: pointer;
}

button:hover {
    background-color: hsl(158, 42%, 18%);
}


.text-box:hover{
    scale: 1.01;
    box-shadow: 5px 5px 10px hsl(158, 36%, 37%);
}


.card:hover{
       scale: 1.01;
    box-shadow: 5px 5px 10px hsl(158, 36%, 37%);
    transition: 0.3;
}

.name{
 font-family: Fraunces;

}

.description{
font-family: Montserrat;

}

.main.text{

     font-family: Montserrat;
}

.bth img {
  width: 16px;
}
